.field{
  width: 500px;
  padding-bottom: 100px;
}

.colour-border{
  border: 3px solid palevioletred;
  padding: 10px;
}

.header{
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

body{
  padding: 10px;
  background-color: whitesmoke;
}