.field{
  width: 500px;
  padding-bottom: 100px;
}

.colour-border{
  border: 3px solid palevioletred;
  padding: 10px;
}

.header {
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(54, 41, 179);
  border: 10px solid rgb(184, 12, 12); /* Added border */
}

body{
  padding: 10px;
  background-color: whitesmoke;
}